<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7WN02KKPVY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7WN02KKPVY');
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AcquireDynamics</title>
    <link rel="stylesheet" href="dist/css/nav.css">
    <link rel="stylesheet" href="dist/css/style.css">
        <!-- Custom styles for this template-->
    <link href="dist/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="icon" href="/LandingPage_1.0/images/clear-tabIcon.png">
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">

            <section class="top-nav">
                <div>
                    <a href="index.html"><img class="header-logo-image" src="dist/images/clear-tabIcon.png" alt="Header Logo"></a>
                </div>
                <input id="menu-toggle" type="checkbox" />
                <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
              </label>
                <ul class="menu">
                  <li><a class="nav-link"  href="guide.html">Getting Started</a></li>
                  <li><a class="nav-link" href="roadmap.html">Road Map</a></li>
                  <li><a class="nav-link" href="video.html">Videos</a></li>
                  <li><a class="nav-link" href="about.html">About Us</a></li>
                  <li><a class="nav-link" href="enable.html">Enable Account</a></li>
                </ul>
              </section>
        </header>
          
    <!--Main Body-->

    

    <section class="cta section">
      <div class="container-sm">
          <div class="cta-inner section-inner">

            <h2 class="section-title mb-4">Disable your account</h2>
            <br>
          <i class="fas fa-user-plus"></i> User's subscription information
          </h1>
          <hr class="sidebar-divider mb-4">
          <form class="mb-4" action="/pay-cancel" method="POST">
              <input  id="email" name="email" class="form-control mb-4" placeholder="Email" >
              <input  id="password" name="password"  type='password' class="form-control mb-4" placeholder="Password" >
              <!-- Divider -->
              <hr class="sidebar-divider mb-4">

            <button type="submit" class="btn btn-danger btn-block">
              Cancel Subscription
            </button>
          </form>

          </div>
          </div>
          </section>

  <!-- End Main Body-->


        <footer class="site-footer has-top-divider">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
							<img class="asset-light" src="dist/images/clear-tabIcon.png" alt="Logo">
							<img class="asset-dark" src="dist/images/logo-dark.svg" alt="Logo">
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="mailto:support@acquiredynamics.com">Contact</a>
                        </li>
                        <li>
                            <a href="about.html">About us</a>
                        </li>
                        <li>
                            <a href="guide.html">FAQ's</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset"></ul>
                    <div class="footer-copyright">&copy; 2023 AcquireDynamics, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
